/db.sqlite3
/ecommerce
/projeto_e_commerce1.py
/projeto_e_commerce10.py
/projeto_e_commerce11.py
/projeto_e_commerce12.py
/projeto_e_commerce13.py
/projeto_e_commerce2.py
/projeto_e_commerce3.py
/projeto_e_commerce4.py
/projeto_e_commerce5.py
/projeto_e_commerce6.py
/projeto_e_commerce7.py
/projeto_e_commerce8.py
/projeto_e_commerce9.py
/venv